* {
    line-height: 1.5;
}

body {
    background-color: antiquewhite;
    font-family: "Brush Script", sans-serif;
    text-align: center;
}

.card {
    background-color: bisque;
    margin: 30px 200px;
    padding: 40px 10px;
    border-radius: 20px;
}

.description {
    font-style: italic;
}

.links img {
    width: 100px;
    height: 100px;

}

h1 {
    background-color: bisque;
    width: fit-content;
    margin: auto;
    padding: 0 10px;
    border-radius: 20px;
}

img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin: 15px 15px 0 15px;
}

ul,
ol {
    text-align: left;
}

a,
a:link,
a:visited,
a:active {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

p.quote {
    background-color: white;
    border-radius: 0 50px 50px 50px;
    width: max-content;
    margin: 20px auto;
}