body {
    background-color: antiquewhite;
    font-family: "Brush Script", sans-serif;
    text-align: center;
}

div {
    background-color: bisque;
    padding: 5px 25px 5px 25px;
}

h1 {
    background-color: bisque;
}

img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

ul,
ol {
    text-align: left;
}

a,
a:link,
a:visited,
a:active {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}


button {
    background-color: white;
}